body{
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;

    background:
    radial-gradient(circle at 30% 20%, #0f1b2b, #05070d);

    font-family:system-ui;
    color:white;
}

/* 主容器 */
.game{
    text-align:center;
}

h1{
    letter-spacing:4px;
    margin-bottom:20px;
    color:#7df9ff;
    text-shadow:0 0 20px #00f0ff;
}

/* ===== 棋盘 ===== */

#board{
    position:relative;
    width:420px;
    height:420px;
    margin:auto;
}

/* 圆圈 */
.circle{
    position:absolute;
    width:64px;
    height:64px;
    border-radius:50%;

    display:flex;
    align-items:center;
    justify-content:center;

    background:#0a0f1c;

    border:2px solid #00f0ff;

    box-shadow:
        0 0 12px #00f0ff,
        inset 0 0 8px #00f0ff;

    font-weight:bold;
}

/* 菱形 */
.diamond{
    position:absolute;
    width:86px;
    height:86px;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    cursor:pointer;

    clip-path: polygon(50% 0%,100% 50%,50% 100%,0% 50%);

    background:#111;

    border:2px solid #ff4df0;

    box-shadow:
        0 0 14px #ff4df0;

    transition:.25s;
}

.diamond:hover{
    transform:scale(1.05);
}

/* 解开时 */
.diamond.correct{
    border:2px solid #00ff9d;

    box-shadow:
        0 0 20px #00ff9d,
        inset 0 0 15px #00ff9d;

    background:#06291f;
}

/* 数字 */
.top{
    font-size:18px;
    color:#7df9ff;
}

.bottom{
    font-size:16px;
    opacity:.7;
}

/* HUD */
.hud{
    margin-top:20px;
    display:flex;
    justify-content:center;
    gap:40px;
    font-weight:bold;
}